.App {
  border-style: inset;
  padding: 40px;
  display: flex;
  font-family: Georgia;
  font-size: larger;

  background-color: rgb(127, 197, 255);
}
.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: rgb(75, 228, 126);
  padding: 4px 8px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 2px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  /* background-color: rgb(44, 60, 65); */
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}

.is-done {
  opacity: 0.5;
}
.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  color: rgb(52, 79, 235);
}
.filterbutton {
  padding: 4px 8px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 2px solid #aaa;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(44, 60, 65);
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}
.buttonTasks {
  background-color: rgb(216, 77, 77);
  color: beige;
  border-radius: 6px;
}
.buttonInput {
  background-color: rgb(75, 228, 126);
  color: beige;
  border-radius: 6px;
}
.checkbox {
}

.todo {
  border-style: inset;
  padding-left: 30px;
  margin-left: 20px;
}
